body {
	margin:  1em 0.5em;
	width: 1024px;
}
li, ul, ol {
	line-height: 1.2em;	
}

/* Series name subtitle */
p.series_spec {
	font-size: 60%;
}

/* User identification*/
#user_id {
	text-align: right;
	z-index: 1;
}
#user_id>p {
	vertical-align: bottom;
	color: gray;
}

/* Form section elements */
div.form_section {
	margin: 1em 0em;
}

div.form_section_title {
	/* The vertiacl-align seems to be ignored for some reason so hacking it with padding*/
	vertical-align: middle !important;
	padding: 0.5em 1em;
}

div.form_section_content * {
	vertical-align: top;
}

div.form_section_content>p label {
	width: 15em;
	display: inline-block;
	margin: 0.5em;
	text-align: right;
	border: 3px double red;
}

div.form_section_content>p input {
	display: inline-block;
	margin: 0.5em;
	width: 25em;
}
div.search_criteria_inputs label {
	white-space: nowrap;
	margin-left: 0.5em;

}

div.input_label {
	margin-top: 1em;
}


/* Time range select table*/
div#time_range table td {
	width: 15em;
	padding: 0 1em;
} 
 

div.keyword_list {
	height: 8em;
	overflow: auto;
	margin: 0.2em 0 0.2em 1em;
}

label.keyword {
	display: inline-block;
	width: 17%;
	padding-left: 0.1em;
	white-space: nowrap;
}

p.search_message {
	min-height: 3em;
	padding: 0.4em 1em;
	margin: 1em 0;
}


div.search_results {
	margin: 1em 0;
}






/* Make the search_results table to be scrollable */ 
table.search_results_table{
	display: block;
	overflow:auto;
	max-height:20em;
}

/* Make table header movable to the top */
table.search_results_table>thead {
	display: block;
	position:relative;
	background-color: white;
	z-index: 1;
}

/* Make column width to be at least the size of the keyword name + a little something for the arrows */
table.search_results_table tr>td:nth-child(n+4){
	min-width: 7em;
}

/* Style table cells */
table.search_results_table>thead th{
//	display: inline-block;
	min-height: 1em;
	text-align: left;
	padding: 0.2em 0.5em;
	border-right: 1px dotted white;
}

table.search_results_table>tbody td{
	text-align: right;
	padding: 0.2em 0.5em;
	border-right: 1px dotted black;
}


p.results_message {
	min-height: 3em;
	padding: 0.4em 1em;
	margin: 1em 0;
}

/* Icon buttons */
button.help, button.download_fits, button.select_operation, button.preview_image {
	height: 1em;
	width: 1em;
	vertical-align: middle;
}

div.dialog_box label {
	margin-top: 0.5em;
	display: block;
	vertical-align: middle;
	line-height: 150%;
}



input[type='text']{
	height: 1em;
}
select{
	height: 1.5em;
}
