body {
	padding: 1em 0.5em;
}

/* Tab elements and content */

li#user_tab {
	/* Push user tab to the right */
	/* important to avoid jquery to override it */
	float: right !important;
}

div.search_panel {
	/* Put the 2 panels side by side if possible */
	display: inline-block;
	vertical-align: top; 
}

div.result_panel {
	/* Put the 2 panels side by side if possible */
	display: inline-block;
	vertical-align: top;
}

/* Section elements */
div.section {
	margin: 1em;
}

div.section_title {
	padding: 0.5em 1em;
}

div.section_content {
	padding: 0.5em 1em;
}

div.actions {
	margin: 1em 0em;
	text-align: center;
}


/* Login form elements */
form#login_form label {
	width: 25em;
	display: inline-block;
	margin: 0.5em;
	text-align: right;
	vertical-align: middle;
}


/* Data search form elements */
form.data_search_form label {
	width: 10em;
	display: inline-block;
	margin: 0.5em;
	text-align: right;
	vertical-align: middle;
}

img.ui-datepicker-trigger {
	margin: 0 0.5em;
}

select#id_cadence_multiplier{
	height: 1.5em;
	margin: 0 0.3em;
}

form.data_search_form select[multiple] {
	min-width: 4em;
}


/* Table results */

table.result_table>thead th{
	min-height: 1em;
	text-align: left;
	padding: 0.2em 0.5em;
}

table.result_table>tbody td{
	text-align: right;
	padding: 0.2em 0.5em;
	border-right: 1px dotted black;
	border-left: 1px dotted black;
}

/* Table buttons */
div.page_navigation {
	/* Push Select all and Unselect all buttons to the center */
	text-align: center;
	margin: 1em 0em;
}

button.select_all>span.ui-button-text, button.unselect_all>span.ui-button-text {
	/* Make the buttons narrower */
	padding-top: 0em;
	padding-bottom: 0em;
	font-size: small;
}

a.first_page, a.previous_page, a.next_page, a.last_page, a.download_fits, a.preview_image {
	/* Make the buttons tiny squares */
	height: 1em;
	width: 1em;
	vertical-align: middle;
}

a.first_page, a.previous_page {
	/* Push buttons to the left */
	float: left	;
}

a.next_page, a.last_page {
	/* Push buttons to the right */
	float: right;
}

/* Icon buttons */
button.help {
	height: 1em;
	width: 1em;
	vertical-align: middle;
}

div.dialog_box label {
	margin-top: 0.5em;
	display: block;
	vertical-align: middle;
	line-height: 150%;
}

p.search_message {
	min-height: 3em;
	padding: 0.4em 1em;
	margin: 1em 0;
}



