{% load staticfiles %}

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<title>SDO online</title>
		<!-- Include broken browsers fixes -->
		<script src="{% static "PMD/js/iso8601.js" %}" type="text/javascript"></script>
		<script src="{% static "PMD/js/fix_ie.js" %}" type="text/javascript"></script>
		<!-- Include jquery libraries and plugins -->
		<script src="{% static "PMD/js/jquery-1.10.2.js" %}" type="text/javascript"></script>
		<script src="{% static "PMD/js/jquery-ui-1.10.4.min.js" %}" type="text/javascript"></script>
		<script src="{% static "PMD/js/jquery-ui-timepicker-addon.js" %}" type="text/javascript"></script>
		<script src="{% static "PMD/js/jquery.cookie.js" %}" type="text/javascript"></script>
		<script src="{% static "PMD/js/json.js" %}" type="text/javascript"></script>
		<script src="{% static "PMD/js/dateformat.js" %}" type="text/javascript"></script>

		<!-- Include application javascripts -->
		<script src="{% static "PMD/js/sdo_wizard.js" %}" type="text/javascript"></script>
		
		<!-- Include stylesheets -->
		<link rel="stylesheet" href="{% static "PMD/css/reset.css" %}" type="text/css">
		<link rel="stylesheet" href="{% static "PMD/css/jquery-ui-1.8.16.custom.css" %}" type="text/css">
		<link rel="stylesheet" href="{% static "PMD/css/sdo_wizard.css" %}" type="text/css">
	</head>
<body>

<!-- Username and logout link --> 
<div id="user_id">	
<p>You are logged in as {{ user.username }} <a href="{% url 'accounts:django.contrib.auth.views.logout' %}?next=/PMD/">Logout</a></p>
</div>

<!-- form for time range 
		It is outside of the tabs, but will be moved inside the current tab by jquery, so dates remain
-->
<div class="form_section" id="time_range">
	<p class="form_section_title">
		Select time range
	</p>
	<div class="search_criteria">
		<div class="search_criteria">
			<div class="search_criteria_label">
				Start time
			</div>
			<div class="search_criteria_inputs">
				<input type="text" name="start_date" id="start_date" size="18" title="Select start date and time" />
				<input type="image" id="start_date_picker" class="date_picker" title="Click to open date picker" src="{% static "PMD/css/images/calendar.png" %}"></input>
			</div>
		</div>
		<div class="search_criteria">
			<div class="search_criteria_label">
				End time
			</div>
			<div class="search_criteria_inputs">
				<input type="text" name="end_date" id="end_date" size="18" title="Select end date and time" >
				<input type="image" id="end_date_picker" class="date_picker" title="Click to open date picker" src="{% static "PMD/css/images/calendar.png" %}"></input>
			</div>
		</div>
		<div class="search_criteria">
			<div class="search_criteria_label">
				Data cadence
			</div>
			<div class="search_criteria_inputs">
				<input type="text" id="cadence" name="cadence" maxlength="4" size="4">
				<select id="cadence_unit" name="cadence_unit">
					<option value="s">second(s)</option>
					<option value="m">minute(s)</option>
					<option value="h" selected="true">hour(s)</option>
					<option value="d">day(s)</option>
				</select>
			</div>
		</div>
	</div>
</div>

<div id="tabs">
	<!-- Tabs declaration -->
	<ul>
		{% for data_series in data_series_list %}
			<li><a href="#tab_{{ data_series.record_table }}">{{ data_series.name }}</a></li>
		{% endfor %}
	</ul>
	<!-- Tabs definition -->
	{% for data_series in data_series_list %}
		<!-- {{ data_series.name }} tab content-->
		<div id="tab_{{ data_series.record_table }}" class="tab_content">
			<div class="form_section specific_criteria">
				<p class="form_section_title">
					Select search criteria
				</p>
				<input type="hidden" class="series_name" name="series_name" value="{{ data_series.data_series }}"/>
				<input type="hidden" name="search_limit" value="10000"/>
				<!-- Quality criteria -->
				<div class="search_criteria">
					<div class="search_criteria_label">
						<button class="help" title="Search results will only display data for which the quality is 0">Help</button>
						Best quality only
					</div>
					<div class="search_criteria_inputs">
						<label><input type="checkbox" name="best_quality" value="true" checked="true"/></label>
					</div>
				</div>
				<!-- For aia.lev1 we add wavelenth checkboxes -->
				{% if data_series.name == "aia.lev1" %}
					<div class="search_criteria">
						<div class="search_criteria_label">
							Wavelengths
						</div>
						<div class="search_criteria_inputs">
							<label><input type="checkbox" name="wavelnth[]" value="94" checked="true"/>094&Aring;</label> 
							<label><input type="checkbox" name="wavelnth[]" value="131" checked="true"/>131&Aring;</label>
							<label><input type="checkbox" name="wavelnth[]" value="171" checked="true"/>171&Aring;</label>
							<label><input type="checkbox" name="wavelnth[]" value="193" checked="true"/>193&Aring;</label>
							<label><input type="checkbox" name="wavelnth[]" value="211" checked="true"/>211&Aring;</label>
							<label><input type="checkbox" name="wavelnth[]" value="304" checked="true"/>304&Aring;</label>
							<label><input type="checkbox" name="wavelnth[]" value="335" checked="true"/>335&Aring;</label>
							<label><input type="checkbox" name="wavelnth[]" value="1600" checked="true"/>1600&Aring;</label>
							<label><input type="checkbox" name="wavelnth[]" value="1700" checked="true"/>1700&Aring;</label>
							<label><input type="checkbox" name="wavelnth[]" value="4500" checked="true"/>4500&Aring;</label>
						</div>
					</div>
				{% endif %}
			</div>
			<!-- First row of action -->
			<div class="actions search_actions">
				<p class="search_message">
				</p>
				<button class="search_data" title="Submit your search request" onclick="search_data();">Search data</button>
			</div>
			<!-- Tables of search results -->
			<div class="search_results" style="display:none;">
				<!-- At the beginning the table is empty -->
				<table class="search_results_table fixedheader" summary="Search results">
					<thead><tr></tr></thead>
					<tbody></tbody>
				</table>
				<div>
					<button class="select_all select_operation" title="Click to select all results" onclick="select_all('select')" >Select all</button>
					<button class="unselect_all select_operation" title="Click to unselect all results" onclick="select_all('unselect')" >Unselect all</button>
				</div>
			</div>
		
			<!-- Second row of action -->
			<div class="actions results_actions" style="display:none;">
				<p class="results_message">
				</p>
				<button class="bring_online" title="Bring data online at ROB" onclick="bring_online();">Bring online</button>
			</div>
		</div>
	{% endfor %}
</div>


<div id="ask_retention_period" class="dialog_box ui-state-highlight" title="Retention period" style="display:none;">
	<div id="retention_period" class="input_label">
		<p>Please enter a retention period:</p>
		<input type="text" size="4"> months
	</div>
	<div id="warn_set_retention_success" class="input_label">
		<input type="checkbox" checked="true"> Check if you want to be warned if the request has been successful
	</div>
</div>

</body></html>
