{% load staticfiles %}

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<title>SDO online</title>
		
		<!-- Include jquery libraries and plugins -->
		<script src="//code.jquery.com/jquery-1.10.2.js"></script>
		<script src="//code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
		<script src="{% static 'PMD/js/jquery-ui-timepicker-addon.js' %}" type="text/javascript"></script>
		<script src="{% static 'PMD/js/jquery.cookie.js' %}" type="text/javascript"></script>

		<!-- Include application javascripts -->
		<script src="{% static 'PMD/js/sdo_wizard.js' %}" type="text/javascript"></script>
		
		<!-- Javascript constants -->
		<script type="text/javascript" charset="utf-8">
			CALENDAR_IMAGE_URL = "{% static 'PMD/images/calendar.png' %}";
			LOADING_IMAGE_URL = "{% static 'PMD/images/loading.gif' %}";
		</script>
		
		<!-- Include stylesheets -->
		<link rel="stylesheet" href="{% static 'PMD/css/reset.css' %}" type="text/css">
		<link rel="stylesheet" href="{% static 'PMD/css/jquery-ui-1.8.16.custom.css' %}" type="text/css">
		<link rel="stylesheet" href="{% static 'PMD/css/sdo_wizard.css' %}" type="text/css">
	</head>
<body>

<!-- Form for time range. It is outside of the tabs, but will be moved inside the current tab by jquery, so dates remain when moving between tabs -->
<div class="section" id="time_range">
	<div class="section_title">
		Select time range and optional cadence
	</div>
	<div class="section_content">
		<p> <!-- start date -->
			{{ time_range_form.start_date.label_tag }}
			{{ time_range_form.start_date }}
		</p>
		
		<p> <!-- end date -->
			{{ time_range_form.end_date.label_tag }}
			{{ time_range_form.end_date }}
		</p>
		
		<p> <!-- cadence -->
			{{ time_range_form.cadence.label_tag }}
			{{ time_range_form.cadence }}
			{{ time_range_form.cadence_multiplier }}
		</p>
	</div>
</div>

<div id="tabs">
	<!-- Tabs declaration -->
	<ul>
		{% for form in data_series_search_forms %}
		<li><a href="#{{ form.data_series_name }}">{{ form.tab_name }}</a></li>
		{% endfor %}
		{% if user.is_authenticated %}
		<li id="user_tab"><a href="#user"><span class="ui-icon ui-icon-person" style="display: inline-block"></span> {{ user.username }}</a></li>
		{% else %}
		<li id="user_tab"><a href="#user"><span class="ui-icon ui-icon-person" style="display: inline-block"></span> Log in</a></li>
		{% endif %}
	</ul>
	
	<!-- User Tab definition --> 
	<div id="user">
		{% if user.is_authenticated %}
		<p>You are currently logged in as {{ user.username }} <button id="logout" title="Log out of the application" href="{% url 'accounts:django.contrib.auth.views.logout' %}?next={% url 'PMD:index' %}">Logout</button></p>
		{% else %}
		<form id="login_form" action="{% url 'PMD:login' %}" method="post">
			{% csrf_token %}
			<p>
				{{ login_form.email.label_tag }}
				{{ login_form.email }}
			</p>
			<p>
				{{ login_form.username.label_tag }}
				{{ login_form.username }}
				{{ login_form.password }}
			</p>
			<div class="actions">
			<button type="submit" id="login" title="Log in the application">Login</button>
			</div>
		</form>
		{% endif %}
	</div>
	
	<!-- Data Series Tab definitions -->
	{% for form in data_series_search_forms %}
	<!-- {{ form.data_series_name }} tab content-->
		<div id="{{ form.data_series_name }}" class="tab_content">
			<!-- {{ form.data_series_name }} search form -->
			<div class="search_panel">
				<form class="data_search_form" action="{% url 'PMD:result_table' form.data_series_name %}" method="get">
					<div class="section specific_search_criteria">
						<div class="section_title">
							Select search criteria
						</div>
							<div class="section_content">
							{{ form.as_p }}
							</div>
							<div class="actions search_actions">
								<button type="submit" class="search_data" title="Search data">Search data</button>
							</div>
					</div>
				</form>
			</div>
			<!-- {{ form.data_series_name }} search results -->
			<div class="result_panel">
				<div class="section result_section">
					<div class="section_title">
						<span class="ui-icon visual_indicator"></span>
						Search results
					</div>
					<div class="section_content">
						&#8592; Please make a search for data on the left.
					</div>
					<div class="actions result_actions">
						<form action="{% url 'PMD:download_bundle' form.data_series_name %}" method="post">
							{% csrf_token %}
							<button class="download_bundle" title="Download the selected data as a zip file">Download data</button>
						</form>
						<form action="{% url 'PMD:export_data' form.data_series_name %}" method="post">
							{% csrf_token %}
							<button class="export_data" title="Export the selected data for download">Export data</button>
						</form>
						<form action="{% url 'PMD:export_keywords' form.data_series_name %}" method="post">
							{% csrf_token %}
							<button class="export_keywords" title="Export the selected meta-data to a csv file">Export keywords</button>
						</form>
						<form action="{% url 'PMD:bring_online' form.data_series_name %}" method="post">
							{% csrf_token %}
							<button class="bring_online" title="Bring data online at ROB">Bring online</button>
						</form>
						<form action="{% url 'PMD:export_cutout' form.data_series_name %}" method="post">
							{% csrf_token %}
							<button class="export_cutout" title="Download a cutout of the selected data">Export cutout</button>
						</form>
					</div>
				</div>
			</div>
		</div>
	{% endfor %}
</div>



