{% if rows %}
<table summary="{{ request_type }} requests">
	<thead>
		<tr>
			<th></th><!-- ftp column -->
			<th></th><!-- cancel/delete column -->
			{% for header in headers %}
			<th>{{ header }}</th>
			{% endfor %}
		</tr>
	</thead>
	<tbody>
	{% for row in rows %}
		<tr>
			<td>
				<a class="open_ftp_location small_button" title="Open ftp location" href="{{ row.ftp_path }}" target="_blank">Open</a>
			</td>
			<td>
				<a class="delete_request small_button" title="Delete request" href="{% url 'PMD:delete_user_request' request_type row.request_id %}">Delete</a>
			</td>
			{% for field in row.fields %}
			<td>{{ field }}</td>
			{% endfor %}
		</tr>
	{% endfor %}
	</tbody>
</table>
{% elif message %}
<p>{{ message }}</p>
{% else %}
<p>You haven't made any request yet.</p>
{% endif %}




